@import "base";

.node {
  height: 1.6vw;
  width: 1.6vw;
  box-shadow: inset 0px 0px 0px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wall {
  background-image: linear-gradient($wall_node, $wall_node);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation-name: createWall;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.visited {
  background-image: linear-gradient($visited_node_1, $visited_node_2);
}

.path {
  background-image: linear-gradient(darken($path_node_1, 5%), $path_node_2);
}

@keyframes createWall {
  0% {
    background-size: 0% 0%;
  }

  100% {
    background-size: 100% 100%;
  }
}
