@import "base";

.node {
  height: 1.6vw;
  width: 1.6vw;
  box-shadow: inset 0px 0px 0px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wall {
  background-image: linear-gradient($wall_node, $wall_node);
}

.visited {
  background-image: linear-gradient($visited_node_1, $visited_node_2);
}

.node-animation {
  animation-name: createNode;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.path {
  background-image: linear-gradient(darken($path_node_1, 5%), $path_node_2);
}

@media only screen and (min-width: 1800px) {
  .icon {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1700px) {
  .icon {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .icon {
    font-size: 14px;
  }
}

@keyframes createNode {
  0% {
    background-size: 0% 0%;
  }

  100% {
    background-size: 100% 100%;
  }
}
